################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Colin.Assets/bin/Debug/net6.0
/Colin.Assets/obj
/Content/bin/DesktopGL
/Content/bin/Windows/Content/Effects/LeftRightLoopMapping.xnb
/Content/Effects/MacrosOld.fxh
/Content/obj/DesktopGL/Effects
/Content/obj/DesktopGL/Textures
/Content/obj/DesktopGL
/Content/obj/Windows/net6.0-windows/Content/Effects/Gaussian.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Effects/LeftRightLoopMapping.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/BlockBorder.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Button.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Close0.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Close0_Off.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Close1.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Close1_Off.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Decoration.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Icon0.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Icon1.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Substrate0.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Substrate1.mgcontent
/Content/obj/Windows/net6.0-windows/Content/.mgcontent
/Content/obj/Windows/net6.0-windows/Content/.mgstats
/Content/obj/Windows/net6.0-windows/Content/Textures/Pixel.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/TitleColumn1.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Block.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Close.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Close_Using.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Icon.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Substrate.mgcontent
/Content/Effects/MacrosOld.fxh
/Content/bin/Windows/Content/Effects/LeftRightLoopMapping.xnb
/Content/obj/Windows/net6.0-windows/Content/Effects/Gaussian.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Effects/LeftRightLoopMapping.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Button.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Close0.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Close0_Off.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Close1.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Close1_Off.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Decoration.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Block.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/BlockBorder.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Close.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Close_Using.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Icon.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces/Forms/Default/Substrate.mgcontent
/Content/obj/Windows/net6.0-windows/Content/Textures/Pixel.mgcontent
/Content/obj/Windows/net6.0-windows/Content/.mgcontent
/Content/obj/Windows/net6.0-windows/Content/.mgstats
/Content/bin/DesktopGL/Content/Effects/Gaussian.xnb
/Content/bin/DesktopGL/Content/Effects/LeftRightLoopMapping.xnb
/Content/bin/Windows/Content/Textures/UserInterfaces
/Content/obj/Windows/net6.0-windows/Content/Textures/UserInterfaces
/Content/bin/Windows/Content/Textures/UserInterfaces/Forms/Substrate1.xnb
/Content/bin/Windows/Content/Textures/UserInterfaces/Forms/TitleColumn1.xnb
/Content/obj/Windows/net6.0-windows/Content/Effects/Particles/ParticleDataStream.mgcontent
/Content/bin/Windows/Content/Effects/Particles/ParticleDataStream.xnb
/Content/bin/Windows/Content/Effects/Particles/ParticleInstancing.xnb
*.mgcontent
*.xnb
/Content/obj/Windows/.mgstats
/Content/obj/Windows/net8.0-windows7.0/Content/.mgstats
